<%- include('partials/header') %>
   <div class="body">
    <form action="/form" method="post" id="form">
        <div class="expenseAmount">
            <label for="amount"> Add Amount:
                <input type="number" id="amount" name="amount">
            </label>
        </div>
        <div class="expenseDescription">
            <label for="description"> Add description:
                <input type="textarea" id="description" name="description">
            </label>
        </div>
        <div class="expenseSelect">
            <label for="category"> Choose category:
                <select id="category" name="category"> 
                    <option>Fuel</option>
                    <option>Groceries</option>
                    <option>Medicine</option>
                    <option>Others</option>
                </select>
            </label>
        </div>
        <div class="expenseSubmit">
            <label for="btn">
                <input type="submit" id="btn" name="but">
            </label>
        </div>
    </form>
   </div>


<%- include('partials/footer') %>